<% provide(:title, "Help") %>

<div class="center jumbotron">
  <h1>Sample App - Help</h1>

  <h2>
    This is the home page for the
    <%= link_to "Blog", root_path %>
    sample application.
  </h2>
</div>
