<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Blog App - Home</h1>

  <h2>
    This is the home page for the
    <%= link_to "Blog", root_path %>
    sample application.
  </h2>

  <div class="button-signup">
    <% if logged_in? %>
    <p>Xin chào, hãy bắt đầu trải nghiệm những tính năng của blog :)</p>
    <% else %>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>

<!-- <%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org' %> -->